.accordion-title {
    font-size: 63px;
    color: white;
    margin-bottom: 50px;
}

.accordion-faq .faq-item {
    background-color: white;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    width: 1250px;
    cursor: pointer;
    overflow: hidden;
    /* Ensure the content is hidden by default */
    max-height: 100px;
    /* Set the initial max-height to a reasonable value */
    transition: max-height 0.7s ease;
    /* Apply the transition for both opening and closing */
}

.accordion-faq-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.accordion-faq-heading h3 {
    color: black;
    font-size: 35px;
    font-weight: 600;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 12px;
}

.accordion-faq-content {
    margin: 5px;
    margin-left: 14px;
    font-size: 22px;
    padding-bottom: 30px;
    color: black;
    line-height: 1.4;
}

.faq-item.active {
    max-height: 500px;
    /* Adjust this value for the open height */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}