/* Reset styles */

/* Global styles */

.global__flex-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.global__flex-between-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/* Login styles */

.page-signup {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.page-signup__left {
    flex: 1;
    background-color: #3F72AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-signup-left__title {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-top: 50px;
}

.page-signup-left__text {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.page-signup__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-signup-right__title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #000022;
    line-height: normal;
    text-align: start;
    width: 70%;
    margin-bottom: 50px;
}

.page-signup-right__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-signup-right__input {
    width: 70%;
    margin-bottom: 30px;
}

.page-signup-right-input__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000022;
    text-align: start;
    width: 100%;
    margin-bottom: 5px;
}

.page-signup-right-input__input {
    width: 100%;
    height: 50px;
    background-color: #F4F2F2;
    border-radius: 6px;
    padding: 5px 10px;
}

.page-signup-right__button {
    width: 70%;
    height: 50px;
    background-color: #3F72AF;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-signup-right-button__text {
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
}

.page-signup-right__noaccount {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000022ca;
    letter-spacing: 1px;
    margin-top: 10px;
}

.page-signup-right-noaccount__link {
    font-weight: 600;
    color: #3F72AF;
}