.matchlistitem-container {
    width: 370px;
    height: 280px;
    display: flex;
    flex-direction: column;
}

.matchlistitem-container p {
    margin: 0;
}

.matchlistitem-header {
    height: 190px;
    overflow: hidden;
    border-radius: 10px;
}

.matchlistitem-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.matchlistitem-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.matchlistitem-content-left {
    display: flex;
    flex-direction: column;
}

.matchlistitem-content-left_title {
    font-size: 1.5rem;
    font-weight: bold;
}

.matchlistitem-content-left_location {
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.matchlistitem-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.matchlistitem-content-right_date {
    color: var(--text-color-description);
}

.matchlistitem-content-right_users {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.matchlistitem-content-right_users-text {
    font-size: 1.2rem;
    font-weight: bold;
}