.about-container {
    text-align: center;
}

.sport-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px;
    margin-top: 20px;
}

.sport-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    border-radius: 10px;
    height: 200px;
}

.football {
    background-color: #1abc9c;
}

.basketball {
    background-color: #e74c3c;
}

.volleyball {
    background-color: #9b59b6;
}

.tennis {
    background-color: #f39c12;
}
