/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Global styles */

.global__flex-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.global__flex-between-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

section {
    margin-top: 100px;
}

/* Home Styles */

.home__div {
    background: white;
    padding: 50px 85px 0px 85px;
}

/*  */

.home__header {
    margin-bottom: 100px;
}

.home-header-left__logo {
    width: 75px;
    margin-right: 20px;
}

.home-header-left__text {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.home-header__button {
    color: #000022;
    font-size: 18px;
    margin: 0px 20px 0px 20px;
}

.home-header__button:hover {
    color: #3F72AF;
}

.home-header__signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.home-header__signup-button {
    padding: 5px 32px;
    background-color: #3F72AF;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
}

.home-header-signup__text {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/*  */

.section-getstarted {
    height: 484px;
}

.section-getstarted__left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 75px 0px;
}

.section-getstarted-left__textdiv {
    margin-bottom: 50px;
}

.section-getstarted-left__textdivtop {
    margin: 0;
    font-size: 48px;
    font-weight: 300;
    color: #000022;
    text-align: left;
    line-height: normal;
}

.section-getstarted-left__textdivbottom {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #000022;
    text-align: left;
    line-height: normal;
}

.section-getstarted-left__button {
    width: fit-content;
    padding: 15px 70px;
    background-color: #3F72AF;
    border-radius: 10px;
    margin-left: 60px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
}

.section-getstarted-left-button__text {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/*  */

.section-how {
    margin-top: 100px;
    margin-bottom: 50px;
}

.section-how__title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-how-title__text {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #000022;
    line-height: normal;
    margin-bottom: 20px;
}

.section-how-title__div {
    background-color: #3F72AF;
    width: 50px;
    height: 5px;
    border-radius: 5px;
}

.section-how__content {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.section-how-content__child {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-how-content__img {
    width: 50px;
    margin-bottom: 50px;
}

.section-how-content__title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: normal;
    margin-bottom: 20px;
}

.section-how-content__desc {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000022;
    line-height: normal;
    margin-bottom: 20px;
}

/*  */

.section-joinus {
    background-color: #F5F6FA;
    margin: 0px -85px;
    padding: 100px 85px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-joinus__title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #000022;
    line-height: normal;
    margin-bottom: 100px;
}

.section-joinus__content {
    display: flex;
}

.section-joinus__button1 {
    width: fit-content;
    padding: 15px 70px;
    background-color: #3F72AF;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
    cursor: not-allowed;
}

.section-joinus__buttontext1 {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.section-joinus__button2 {
    width: fit-content;
    padding: 15px 70px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 80px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
}

.section-joinus__buttontext2 {
    margin: 0;
    color: #3F72AF;
    font-size: 14px;
    font-weight: bold;
}

/*  */

.section-aboutus {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    margin-bottom: 100px;
}

.section-aboutus__title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #000022;
    line-height: normal;
}

.section-aboutus__div {
    background-color: #3F72AF;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    margin: 40px 0px;
}

.section-aboutus__text {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-align: start;
    max-width: 1200px;
}

.section-aboutus__subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    line-height: normal;
    text-align: start;
    margin: 40px 0px;
}

/*  */

.section-question {
    display: flex;
    flex-direction: row;
    margin: 0px -85px;
}

.section-question__left {
    background-color: #3F72AF;
    padding: 85px 85px;
    width: 500px;
}

.section-question-left_text {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-align: start;
    line-height: normal;
}

.section-question__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 85px 85px;
}

.section-question-right__input {
    flex: 1;
    margin-bottom: 20px;
}

.section-question-right_bottom__input {
    flex: 1;
    margin: 30px 0px 100px 0px;
}

.section-question-right-input__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #00002253;
    text-align: start;
    line-height: normal;
}

.section-question-right-input__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3F72AF;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}

.section-question-right__space {
    width: 50px;
}

.section-aboutus-right__button {
    margin-left: auto;
    width: fit-content;
    padding: 15px 70px;
    background-color: #3F72AF;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px #1f62ff43;
}

.section-aboutus-right-button__text {
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/*  */

.section-footer {
    margin: 0;
    background-color: #3F72AF;
    margin: 0px -85px;
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
}

.section-footer__left {
    background-color: #3F72AF;
    padding: 85px 85px;
    width: 500px;
}

.section-footer-left__title {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-align: start;
    line-height: normal;
    margin-bottom: 40px;
}

.section-footer-left__icons {
    display: flex;
    flex-direction: row;
}

.section-footer-left__icon {
    margin-right: 20px;
    cursor: not-allowed;
}

.section-footer__right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 30px 0px 50px;
}

.section-footer-right__column {
    flex: 1;
}

.section-footer-right-column__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: start;
    line-height: normal;
    margin-bottom: 40px;
}

.section-footer-right-column__text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff98;
    text-align: start;
    line-height: normal;
    margin-bottom: 40px;
    cursor: not-allowed;
}