@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.body-home-logo {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    filter: brightness(0) invert(1);
}

.homeHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.login-button {
    display: flex;
    margin-right: 120px;
    margin-top: 40px;
    font-size: 18px;
    width: 120px;
    height: 43px;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-button:hover {
    color: var(--primary) !important;
    background: #fff !important;
    cursor: pointer !important;
}

.top-body-general {
    background: linear-gradient(to right, #1C75BC, #4da8d2);
    height: 1200px;
}

.body-general {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, #1C75BC, #4da8d2);
    height: 920px; */
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
}

.body-home {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.body-home-title {
    color: white;
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}

.body-home-para {
    color: white;
    text-align: center;
    font-size: 30px;
}

.body-home-getstarted {
    color: white;
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

.body-signIn {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.inputBox {
    position: relative;
}

.inputBox input {
    height: 66px;
    width: 390px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #cccccc5c;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 10px;
    outline: none;
    border: none;
    font-weight: 600;
}

.inputBox span {
    position: absolute;
    left: 7px;
    padding: 15px;
    pointer-events: none;
    font-size: 27px;
    color: white;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateY(-9px);
    font-size: 0.8em;
    color: #999;
}

.body-email-input::placeholder {
    font-size: 20px;
    color: #999;
}

.body-start-button {
    font-weight: 500;
    font-size: 25px;
    height: 66px;
    width: 210px;
    background-color: #1c75bc;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-left: 7px;
    letter-spacing: 0.5px;
}

.body-start-button:hover {
    color: var(--primary) !important;
    background: #fff !important;
    cursor: pointer !important;
}

.body-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.banner {
    margin-top: -75px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c75bc;
    color: #fff;
    height: 180px;
    width: 1500px;
    border-radius: 40px;
}

.banner-img {
    width: auto;
    height: 190%;
    /* Maintain aspect ratio */
}

.banner-text {
    margin-left: 100px;
}

.banner-title {
    font-size: 42px;
}

.banner-about {
    font-size: 30px;
    color: #ffA80b;
    font-weight: normal;
    text-decoration: underline;
}

.body-infos-poll {
    position: relative;
    margin-bottom: 230px;
    margin-top: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.infos-text {
    display: flex;
    flex-direction: column;
}

.infos-title {
    font-size: 53px;
}

.infos-para {
    font-size: 28px;
}

.poll-img {
    margin-left: 150px;
    width: 370px;
    height: 100%;
    /* Maintain aspect ratio */
}

.watch-img {
    z-index: 1;
    margin-left: 150px;
    width: 650px;
    height: 100%;
    /* Maintain aspect ratio */
}

.separator {
    width: 100%;
    /* Make it full width */
    height: 10px;
    /* Set the border height */
    background-color: rgba(116, 115, 115, 0.363);
    /* Your custom color with transparency */
}

.video {
    object-fit: contain;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    top: 10%;
    left: 45%;
    z-index: -1;
}