.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 120px 60px; /* Adjust padding as needed */
  background-color: #3F72AF;
}


.footerTitle {
  margin: 0 0 20px 0;
  font-size: 35px;
  color: white;

}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcon {
  width: 30px;
  height: auto;
  fill: black;
}

.linkSections {
  display: flex;
  align-items: flex-start;
}

.linkColumn {
  margin-right: 120px;
}

.linkColumn h3 {
  margin-bottom: 35px;
  color: white;
}

.linkColumn a {
  display: block;
  color: #eaeaec;
  text-decoration: none;
  margin-bottom: 35px;
}

.linkColumn a:hover {
  text-decoration: underline;
}
