.site-title {
    font-size: 2rem;
}

/*
.pageheader {
    background-color: #182734;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.pageheader a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.pageheader ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.pageheader li.active {
    background-color: #304e69;
}

.pageheader li:hover {
    background-color: #40698c;
} */